<div name="userId" id="{{userId}}">
    <nav class="d-flex justify-content-between bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
        <a class="navbar-brand" href="/cart/{{cart}}" id="cartLink" name="{{cart}}">carrito</a>
        <a href="/profile" class="navbar-brand">perfil</a>
        <a href="/logout" class="navbar-brand">logout</a>
    </nav>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="profile">Imagen de Perfil:</label>
        <input type="file" name="profile" id="profile" accept="image/*"><br>

        <label for="product">Imagen de Producto:</label>
        <input type="file" name="product" id="product" accept="image/*"><br>

        <label for="document">Documento:</label>
        <input type="file" name="document" id="document" accept=".pdf, .doc, .docx"><br>

        <button type="submit">Subir archivo(s)</button>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/fileUpload.js"></script>
