
<div>
    <h1>Ahora, logueate</h1>

    <form id="loginForm" >

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <a href="/api/sessions/github" class="btn btn-dark mx-3">O logeate con github!</a>
    <button type="button" id="passRecover">Recuperar contraseña</button>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/login.js"></script>
