
<div>
    <h1>Ahora, logueate</h1>

    <form id="loginForm" >

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <a href="http://localhost:3000/api/sessions/github" class="btn btn-dark mx-3">O logeate con github!</a>

</div>


<script src="/js/login.js"></script>