<div>
    <nav class="d-flex justify-content-between bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
        <a class="navbar-brand" href="http://localhost:3000/cart/{{cart}}" id="cartLink" name="{{cart}}">carrito</a>
        <a href="/profile" class="navbar-brand">perfil</a>
    </nav>
    <button type="button" id="logout">cerrar sesion</button>
</div>


<script type="module" src="/js/logout.js"></script>