<div class="container">
    <nav class="d-flex justify-content-between bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
    </nav>

    {{#if tokenHasExpired}}
        <p>El enlace de restablecimiento de contraseña ha expirado. Por favor, solicita uno nuevo.</p>
    {{else}}
        <p>Restablece tu contraseña aquí:</p>
        <form id="passRecoverForm" class="bg-primary">
            <label for="email">email:</label>
            <input type="email" name="email">

            <label for="email">ingresa la nueva contraseña:</label>
            <input type="password" name="password">

            <input type="submit">
        </form>
    {{/if}}
    
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/passwordRecover.js"></script>